{% for v in host["vrf_to_create"] %}
ip vrf {{ v['vrf_name'] }} vrfid {{ v['vrf_id'] }}

router vrf {{ v['vrf_name'] }}
exit

router vrf {{ v['vrf_name'] }}
ipvpn
i-sid {{ v['vrf_isid'] }}
ipvpn enable
exit

router vrf {{ v['vrf_name'] }}
isis redistribute direct
isis redistribute direct enable
exit
{% endfor %}