{% for vlan in host['vars']['vlans'] %}
{% if "Default" not in vlan['vlan_name'] %}
{% if 'instance_id' in vlan.keys() %}
vlan create {{ vlan['vlan_id'] }} name {{ vlan['vlan_name'] }} type {{ vlan['vlan_type'] }} {{ vlan['instance_id'] }}
{% else %}
vlan create {{ vlan['vlan_id'] }} name {{ vlan['vlan_name'] }} type {{ vlan['vlan_type'] }}
{% endif %}
{% if 'vlan_isid' in vlan.keys() %}
vlan i-sid {{ vlan['vlan_id'] }} {{ vlan['vlan_isid'] }}
{% endif %}
{% if 'ports' in vlan.keys() %}
vlan members {{ vlan['vlan_id'] }} {{ vlan['ports']|join(',') }}
{% endif %}
{% if 'interface' in vlan.keys() %}
interface vlan {{ vlan['vlan_id'] }}
{% if 'vrf' in vlan['interface'].keys() %}
vrf {{ vlan['interface']['vrf'] }}
{% endif %}
ip address {{ vlan['interface']['ip'] }} {{ vlan['interface']['mask'] }}
{% if 'rsmlt' in vlan['interface'].keys() %}
ip rsmlt
{% if 'holdup_timer' in vlan['interface']['rsmlt'].keys() %}
ip rsmlt holdup-timer {{ vlan['interface']['rsmlt']['holdup_timer'] }}
{% endif %}
{% endif %}
{% if 'vrrp' in vlan['interface'].keys() %}
ip vrrp version {{ vlan['interface']['vrrp']['version'] }}
ip vrrp address {{ vlan['interface']['vrrp']['vrrp_id'] }} {{ vlan['interface']['vrrp']['ip'] }}
ip vrrp {{ vlan['interface']['vrrp']['vrrp_id'] }} enable
{% if 'priority' in vlan['interface']['vrrp'].keys() %}
ip vrrp 1 priority {{ vlan['interface']['vrrp']['priority'] }}
{% endif %}
{% if 'preempt' in vlan['interface']['vrrp'].keys() %}
ip vrrp 1 preempt {{ vlan['interface']['vrrp']['preempt'] }}
{% endif %}
{% if 'backup_master' in vlan['interface']['vrrp'].keys() %}
ip vrrp 1 backup-master {{ vlan['interface']['vrrp']['backup_master'] }}
{% endif %}
{% if 'adver_int' in vlan['interface']['vrrp'].keys() %}
ip vrrp 1 adver-int {{ vlan['interface']['vrrp']['adver_int'] }}
{% endif %}
{% if 'fast_adv_int' in vlan['interface']['vrrp'].keys() %}
ip vrrp 1 fast-adv-int {{ vlan['interface']['vrrp']['fast_adv_int'] }}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}